@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$primary: tomato;
$danger:darkred;

@import '~admin-lte/build/scss/AdminLTE.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~nprogress/nprogress.css';
@import '~alertifyjs/build/css/alertify.css';
@import '~alertifyjs/build/css/themes/bootstrap.css';

@import 'partials/timer';

.pomodoro {
    margin: 3rem 0;
}

.form-control {
  color: #000000;
}

.form-check-input {
    margin-right: 7px;
}

.user-menu {
  .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    background-color: #343a40;

    .user-header {
      p {
        color: #C2C7D0;
        margin-top: 10px
      }

      img {
        height: 90px;
        width: 90px;
      }
    }

    .user-footer {
      background-color: #343a40;
    }
  }
  .dropdown-toggle {
    display: block;
    padding: 10px 15px;
  }
}

.navbar-nav > .user-menu img.user-image {
  margin-right: 10px;
}

.crud-form {
  max-width: 1000px;
  margin: 0 auto;
}

#nprogress .bar {
  z-index: 10311 !important;
}

.card-body > .table > thead > tr > th, .card-body > .table > thead > tr > td {
  border-top: 1px solid #dee2e6;
}

body .v--modal-overlay {
    z-index: 2000;

    .v--modal-box {
        padding: 0.5rem;
    }
}

.alertify-notifier {
    z-index: 2001;
}

.card-header-collapsible {
  display: flex;
  justify-content: space-between;
}

.card-header-title {
  width: 100%;

  .btn {
    margin-left: 1rem;
  }
}
