.timer {
    text-align: center;

    &__time {
        font-size: 10rem;
    }

    &__title {
        margin: 0 auto 2rem;
        width: 70%;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px 0;

        @media (min-width: 768px) {
            width: 70%;
            margin: 10px auto;
        }

        > button {
            margin-bottom: 5px;

            @media (min-width: 768px) {
                flex: 1;
                margin: 5px;
            }
        }
    }

    &__btn {
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
    }
}
